<!DOCTYPE html>
<html lang="en">
    {% load static %}{% static "" as abc %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{abc}}delete.css">
</head>

<body>




    <p>Are you sure you wanna delete the item?</p>

    <div class="test">

        <!-- <button href="{% url 'list' %}" class = "can"> Cancel</button> -->
          <a href = "{% url 'list' %}" class="can">Cancel</a>

        <form method="POST" action='/index'>
            {% csrf_token %}
            <input type="submit" name="confirm" class="sb">
        </form>

    </div>
 

</body>

</html>